.dashboard{
    background: linear-gradient(to bottom, rgb(1, 4, 11), rgb(1, 7, 134));  /* Dark blue background */
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.dashboard-category{
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    width: 97%;
    overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; 
   -webkit-overflow-scrolling: touch; 
   padding-left: 10px; /* Add some padding to the left */

}
.category{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 85%;
    padding: 8px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    margin: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
    gap: 8px;
}

.dash-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:93%;
    height: 12vh;
    padding: 8px;
    background: rgba(85, 1, 240, 0); /* Semi-transparent black background */
}

.dash-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
}

.dashboard-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    gap: 20px;


}

.dashboard-content h1{
      font-family: poppins, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: #a5cef8;
    font-style: bold;
    margin-left:6px ;
}


p{
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 10px;
    font-style: bold;
    margin-left:6px ;
    line-height: 25px;
    letter-spacing: 1.1px;
}


.admission-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    padding: 18px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    margin-bottom: 17px;
    transition: transform 0.3s ease;
    gap: 15px;
}

.admission-card button{
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.study-card-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 14px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    transition: transform 0.3s ease;
    gap: 20px;
}

.study-card-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    padding:3px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.market-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    padding: 18px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    margin-bottom: 17px;
    transition: transform 0.3s ease;
    margin-top: 17px;
    gap: 15px;
}

.market-card button{
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn{
    width: 100%;
    padding: 8px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.dashboard-feed{
     display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    margin-bottom: 17px;
    transition: transform 0.3s ease;
    gap: 15px;
}
.dashboard-feed-item{
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    width: 100%;
    margin-bottom: 13px;
    padding: 16px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 20px;
    transition: transform 0.3s ease;
    gap: 15px;
}

.dashboard-feed-item button{
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}